.logo {
    width: 200px;
}

.sign-in-container {
    margin-left: 1rem;
}

.sign-in-container a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #000;
    transition: 0.5s;
    cursor: pointer;
}

.sign-in-container a:hover {
    color: #05f;
}

hr {
    height: 0.05rem;
    margin: 10px 0px;
}

mat-form-field {
    text-align: right;
    margin-left: 1rem;
    width: 100%;
    margin-bottom: 1.5rem;
}

.algo-trader-image {
    border: 2px solid #fafafa;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 2rem;
}

.image-container {
    order: 2;
}

h2 {
    font-family: 'gandom';
    font-size: 2rem;
}

.form-btn {
    width: 100%;
    font-size: 1.2rem;
    border-radius: 100px;
    height: 3rem;
    transition: 0.5s;
}

.form-btn:disabled {
    background-color: #1251ae;
    color: rgb(187, 187, 187);
    border-color: #000;
}

.form-container {
    order: 1;
}

@media only screen and (max-width: 992px) {
    .image-container {
        order: 1;
    }
    .form-container {
        order: 2;
    }
}

.sign-up-section {
    margin-top: 2rem;
}

.password-not-match-error {
    position: absolute;
    bottom: -20px;
    color: red;
    font-size: 0.8rem;
}