<mat-sidenav-container class="position-relative mt-2">
    <mat-sidenav class="side-menu d-lg-none position-absolute" mode="side" position="end" [opened]="menuOpen">
        <fa-icon class="close-icon position-absolute" [icon]="close" (click)="toggleMenu()"></fa-icon>
        <ul class="menu">
            <li class="mx-3"><a href="#">خدمات</a></li>
            <li class="mx-3"><a [routerLink]="['contactUs']">تماس با ما</a></li>
            <li class="mx-3"><a [routerLink]="['aboutUs']">درباره ی ما</a></li>
            <li class="mx-3"><a href="#">همکاری با ما</a></li>
        </ul>
    </mat-sidenav>
    <nav class="top-menu bg-light" [hidden]="hideMenu">
        <div class="container d-flex align-items-center justify-content-between">
            <div class="right-side-items d-flex align-items-center">
                <fa-icon class="d-lg-none mt-1 ms-3" [icon]="bars" (click)="toggleMenu()"></fa-icon>
                <a href="#" class="brand">
                    <img class="logo" src="../../assets/svg-files/logo.svg" alt="IAlgoTrader">
                </a>
            </div>
            <ul class="d-none menu d-lg-flex mt-4">
                <li class="mx-3"><a href="#">خدمات</a></li>
                <li class="mx-3"><a [routerLink]="['contactUs']">تماس با ما</a></li>
                <li class="mx-3"><a [routerLink]="['aboutUs']">درباره ی ما</a></li>
                <li class="mx-3"><a href="#">همکاری با ما</a></li>
            </ul>
            <div class="left-side-items d-flex align-items-center">
                <button class="btn mt-2 login-btn"><a class="login-link" [routerLink]="['signIn']">ورود</a></button>
                <button class="btn btn-primary mt-2"><a class="sing-up-link" [routerLink]="['signUp']">ثبت نام</a></button>
            </div>
        </div>
    </nav>

</mat-sidenav-container>