table {
    width: 100%;
    /* min-width: 450px; */
}

th {
    background: #6059f7;
    color: #fff;
    text-align: right !important;
    font-size: 1rem;
}

td,
th {
    padding: 1rem !important;
}

h1 {
    padding-bottom: 1rem;
    border-bottom: 2px solid #3d3d3d;
}