h3 {
    font-family: 'gandom';
    font-size: 1.3rem;
}

header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

fa-icon {
    color: #05f;
    font-size: 1.2rem;
}

.info-section {
    margin-bottom: 1.5rem;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(111, 127, 159);
    padding: 1rem;
}

.contact-us-form {
    width: 95%;
}

.form-title {
    margin-right: 4%;
}

textarea {
    height: 4rem;
}

.send-btn {
    margin-top: 1rem;
    width: 60%;
    height: 2.5rem;
    border-radius: 100px;
}