<div class="container">
    <div class="about-us">
        <header class="d-flex align-items-center">
            <fa-icon [icon]="infoIcon"></fa-icon>
            <h2 class="my-0 mx-2">درباره ی ما</h2>
        </header>
        <main>
            <h3>تاریخچه</h3>
            <p>ایران الگو تریدر به همت محمد حبیب اله زاده دانشجوی کارشناسی مهندسی کامپیوتر دانشگاه صنعتی خواجه نصیرالدین طوسی در تاریخ 1 تیر سال 1401 آغاز به کار کرد.</p>
            <p>ایده اولیه این پروژه توسط دکتر سید حسین خواسته استادیار دانشگاه صنعتی خواجه نصیر الدین طوسی مطرح گردید و هدف اصلی آن به کارگیری الگوریتم های مختلف در معاملات روزمره نظیر بورس، رمز ارز و... . است.</p>
            <h3>معاملات الگوریتمی چیست؟</h3>
            <p>در تعریف معاملات الگوریتمی یا معاملات خودکار گفته می‌شود: «استفاده از برنامه‌های کامپیوتری برای ورود به سفارش‌های معاملاتی بدون دخالت انسان»؛ به بیان دیگر، این الگوریتم‌ها که بلک‌باکس یا «اَلگو تریدینگ» (Algorithmic Trading) هم نامیده می‌شوند،
                از زبان برنامه نویسی در کامپیوتر و مجموعه‌ای از دستورهای مشخص شده در کنار هم برای انجام معاملات استفاده می‌کنند.
                <br> این الگوریتم‌ها که می‌توانند بیش از یکی باشند، برای انجام معاملات بررسی‌های لازم را از جنبه‌های گوناگونی مانند زمان‌بندی، قیمت و حجم روی سفارشات و بازار انجام داده و تصمیم می‌گیرند. این امر کمک می‌کند تا بازار سرمایه به روشی اصولی‌تر
                و به دور از دخالت احساسات انسانی پیش رود که یکی از نتایج آن بالارفتن نقدینگی در بازار است.
            </p>
            <p>با پیشرفت تکنولوژی، معامله‌گران بازارهای مالی هم به استفاده از تکنولوژی گرایش پیدا کردند. این روزها الگوریتمها یا رباتهای معامله‌گر وظیفه انجام معاملات بسیاری فعالین بازار رو بر عهده دارند و به عنوان یک دستیار در خدمتشون هستند. در واقع الگوریتمها
                به فعالین بازار کمک می‌کنند تا وقت کمتری رو برای بازار صرف کنند و همچنین با سرعت بیشتری معامله کنند. همچنین معاملات الگوریتمی در کنترل احساسات و جلوگیری از تصمیمات خارج از چارچوب استراتژی معاملاتی نقش پر رنگی دارند.</p>
            <h3>چرا ایران الگو تریدر؟</h3>
            <ul>
                <li>
                    <p>به کمک سیستم های معاملات الگوریتمی قادر به انجام معامله بر روی گستره بسیار وسیعی از بازارها هستیم. انسان ها فقط می توانند تعداد محدودی از بازارها را پایش و نظارت کنند، در حالی که یک رایانه رومیزی می تواند تعداد کثیری از آنان را رصد
                        کند.
                    </p>
                </li>
                <li>
                    <p>یک سیستم معاملاتی خودکار می تواند معاملات را خیلی سریع تر از یک معامله گر انسانی انجام دهد. سرعت بالا باعث می شود که بتوان از فرصت هایی که فقط برای چند ثانیه وجود دارند بهره مند شد.</p>
                </li>
                <li>
                    <p>انسان مستعد اشتباه است! انسان ها حواسشان پرت می شود، با فکر از دست دادن پول، احساس ترس می کنند و با فکر کسب درآمد احساس شادی می کنند. همه این سوگیری ها باعث می شود که آن ها از استراتژی معاملاتی برنامه ریزی شده خود، منحرف شوند و همین
                        امر نهایتا سودآوری استراتژی معاملاتی را به شدت محدود می کند. رایانه ها احساسات و عواطف ندارند، بنابراین خارج از آنچه برنامه ریزی شده اند عمل نمی کنند.</p>
                </li>
                <li>
                    <p>در ایران الگو تریدر اجرای الگوریتم‌ها به صورت ابری بدون نیاز به نصب نرم‌افزار یا داشتن امکانات سخت‌افزاری خاص انجام می‌شود.</p>
                </li>
            </ul>
        </main>
    </div>
</div>