<app-panel-header></app-panel-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-3 pe-0">
            <div class="admin-panel">
                <ul class="panel-menu">
                    <a [routerLink]="['edit-information']">
                        <li class="panel-item">
                            <fa-icon [icon]="edit"></fa-icon>
                            ویرایش اطلاعات
                        </li>
                    </a>
                    <a [routerLink]="['contactUs']">
                        <li class="panel-item">
                            <fa-icon [icon]="phone"></fa-icon>
                            تماس با ما
                        </li>
                    </a>
                    <!-- <li class="panel-item">
                        <fa-icon [icon]="info"></fa-icon>
                        درباره ما
                    </li> -->
                    <li class="panel-item">
                        <fa-icon [icon]="users"></fa-icon>
                        اطلاعات کاربران
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-9 main-section">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>