<div class="row mt-5">
    <div class="d-flex justify-content-center">
        <h1 class="title"><span>خدمات</span> <strong class="title-important-part"> ایران الگو تریدر</strong></h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="services">
        <div class="container">
            <div class="row service mt-5">
                <div class="col-12 col-lg-6 d-flex justify-content-center">
                    <img class="pic" src="../../../assets/images/panel-pic.png" alt="user menu">
                </div>
                <div class="col-12 col-lg-6 d-flex justify-content-center align-item-center">
                    <p class="d-flex align-items-center desc mt-3">
                        در پنل اصلی، کاربر قادر خواهد بود که به راحتی به بخش های متنوع سامانه دسترسی داشته باشد و به سهولت به انواع اقسام الگوریتم ها، گزارشات و معاملات مراجعه کند.
                    </p>
                </div>
            </div>
        </div>

        <div class="bg-color">
            <div class="container">
                <div class="row service mt-5 p-3">
                    <div class="col-12 col-lg-6 d-flex justify-content-center align-item-center desc-order">
                        <p class="d-flex align-items-center desc mt-3">
                            آخرین وضعیت نماد ها در بازار و اطلاعاتی نظیر تعداد معاملات، قیمت بسته شده، آخرین قیمت، بیشترین قیمت و ... به راحتی قابل مشاهده ارزیابی است.
                        </p>
                    </div>
                    <div class="col-12 col-lg-6 d-flex justify-content-center img-order">
                        <img class="pic" src="../../../assets/images/symbol-info.png" alt="symbols info">
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row service mt-5">
                <div class="col-12 col-lg-6 d-flex justify-content-center">
                    <img class="pic" src="../../../assets/images/ita-pic.png" alt="user menu">
                </div>
                <div class="col-12 col-lg-6 d-flex justify-content-center align-item-center">
                    <p class="d-flex align-items-center desc mt-3">
                        در منوی معاملات چرخه ای به سادگی می توانید استراتژی های معاملاتی خود را تعریف کنید نا سیستم به صورت اتوماتیک و بدون دخیل کردن احساسات آن ها را اجرا کند.
                    </p>
                </div>
            </div>
        </div>

        <div class="bg-color">
            <div class="container">
                <div class="row service mt-5 p-3">
                    <div class="col-12 col-lg-6 d-flex justify-content-center align-item-center desc-order">
                        <p class="d-flex align-items-center desc mt-3">
                            در منوی تاریخچه معاملات شما قادر خواهید بود تا از جزئیات تمام معاملات انجام شده، اعم از نوع الگوریتم، تاریخ ارسال سفارش، مبلغ سفارش، حجم سهام خرید و فروش شده و ... مطلع شوید.
                        </p>
                    </div>
                    <div class="col-12 col-lg-6 d-flex justify-content-center img-order">
                        <img class="pic" src="../../../assets/images/trades-pic.png" alt="symbols info">
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row service mt-5">
                <div class="col-12 col-lg-6 d-flex justify-content-center">
                    <img class="pic" src="../../../assets/images/chart-pic.png" alt="user menu">
                </div>
                <div class="col-12 col-lg-6 d-flex justify-content-center align-item-center">
                    <p class="d-flex align-items-center desc mt-3">
                        در سامانه ایران الگو تریدر شما به سهولت به طیف وسیعی از نمودار ها دسترسی خواهید داشت، تا با استفاده از آن ها استراتژی های معاملاتی خود را تدوین کنید.
                    </p>
                </div>
            </div>
        </div>

        <div class="container my-5">
            <p class="d-flex align-items-center footer-desc">
                ایران الگو تریدر با فراهم ساختن امکانات متنوع از قبیل جداول، نمودار ها و الگوریتم های گوناگون این فرصت را برای شما معاملگران محترم پدید آورده است تا بهره گیری از هر کدام از آن به آسانی بتوانید با بیشترین بازدهی و صرف حداقلی وفت به سود کلان دست یابید.

            </p>
        </div>

    </div>
</div>