h1 {
    font-family: 'gandom';
    font-size: 2.5rem;
    display: block;
    line-height: 3.5rem;
    text-align: center;
}

.title {
    color: #05f;
}

.description {
    width: 75%;
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.8rem;
    margin-bottom: 1.5rem;
    color: #acaaaa;
}

.start-btn {
    width: 12rem;
    height: 3rem;
    border-radius: 5px;
    font-size: 1.2rem;
}

.how-does-it-work-title {
    color: #05f;
    font-size: 2rem;
    font-weight: bold;
}

.how-does-it-work {
    padding-top: 3rem;
    margin-top: 7rem;
}

.how-does-it-work img {
    width: 30%;
    height: auto;
}

.text-align-center {
    text-align: center;
}

h3 {
    font-size: 1.4rem;
}

.bg-color {
    background-color: #fafafa;
}

footer {
    background-color: #e5f7fe;
}

.logo {
    width: 300px;
    height: auto;
    opacity: 70%;
}

.footer-desc {
    color: #717171;
    text-align: center;
    margin-top: 2rem;
    font-size: 1.2rem;
    width: 50%;
    line-height: 1.5rem;
}