mat-option {
    text-align: right;
}

.mat-option-text {
    font-size: 2rem !important;
}

mat-form-field {
    width: 70%;
    margin-top: 1rem;
}

.operation {
    border: 2px solid #98bfcf;
    border-radius: 5px;
    width: 60%;
}

.operation-btn {
    transition: 0.5s;
    width: 65%;
    height: 2.5rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.operation-btn:disabled {
    background-color: #b0c8c9;
    color: #000;
    border-color: #000;
}

.amount {
    font-size: 1.4rem;
}

.bold-part {
    color: #6059f7;
}

.confirmation {
    font-size: 1.2rem;
    text-align: center;
}

.command-btn {
    transition: 0.5s;
    width: 50%;
    height: 2.5rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    padding-bottom: 0.8rem;
    border-bottom: 2px solid #3d3d3d;
}