h1 {
    font-family: 'gandom';
    font-size: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #3d3d3d;
}

.container {
    width: 90%;
}

mat-form-field {
    width: 100%;
    margin-top: 1rem;
}

img {
    width: 12rem;
}

.image-container {
    cursor: pointer;
    border-radius: 12rem;
    border: 3px solid #05f;
    position: relative;
    margin-bottom: 1rem;
}

.image-container:hover .overlay {
    opacity: 0.5;
}

.image-container:hover .icon {
    opacity: 0.8;
}

.overlay {
    border-radius: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgb(191, 189, 189);
}

.icon {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: .3s ease;
    opacity: 0;
}

.form-btn {
    width: 60%;
    font-size: 1.2rem;
    border-radius: 100px;
    height: 3rem;
    margin-top: 1.5rem;
}

.password-not-match-error {
    position: absolute;
    bottom: -20px;
    color: red;
    font-size: 0.8rem;
}

.form-btn:disabled {
    background-color: #1251ae;
    color: rgb(187, 187, 187);
    border-color: #000;
}