/* You can add global styles to this file, and also import other style files */

* {
    direction: rtl;
    font-family: 'gandom';
}

h1,
h2,
h3,
h4 {
    font-family: 'gandom' !important;
}

@font-face {
    font-family: gandom;
    src: url(./assets/fonts/Gandom.woff);
}

body {
    margin: 0;
    /* height: 100vh;*/
    overflow-x: hidden;
}

mat-sidenav-content {
    margin-right: 0px !important;
}

.mat-drawer-container {
    background-color: #fff;
}

mat-form-field {
    text-align: right !important;
    cursor: pointer;
}

.cdk-overlay-connected-position-bounding-box {
    align-items: flex-end !important;
}

.error-snack-bar {
    background-color: red;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}

.success-snack-bar {
    background-color: rgb(78, 255, 47);
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
}

.panel-snack-bar {
    margin: 0 !important;
    position: absolute;
    right: 25px;
    bottom: 20px;
}

.mat-paginator-page-size {
    display: none !important;
}

.mat-paginator-range-actions {
    direction: ltr !important;
}

.mat-paginator-container {
    font-size: 1rem !important;
}

.mat-option-text {
    font-size: 1.1rem !important;
}